
:root {
  font-family: monospace;
  font-size: 16px;
  background-color: #f4f4f4;
}

button {
  font-size: 16px;
}

h1 {
  margin: 0 auto;
  width: fit-content;
}

#input-text {
  display: block;
  margin: 0 auto;
}

#result {
  margin: 0 auto;
  width: fit-content;
}

#copy-btn {
  display: block;
  margin: 0 auto;
  width: 120px;
}

